
.card-container {
  position: absolute;
  width: 100%;
  margin-left: 10px;
  margin-top: 100px;
  display: float;
  margin-bottom: 200px;
}

.MenuDesc{
  float: center;
  padding-left: 60px;
  margin-left: 300px;
  width: 800px;
  margin-top: 50px;
  font-family: "Lato",cursive , Helvetica,Arial,sans-serif;
  font-size: 20px;
}
.MenuImage{
  float: left;
  height: 220px;
  width: 350px;
}
.menudetails{
  margin-top: 100px;
  display: inline;
}
.MenuDetailsImage{
  height: 200px;
  width: 350px;
}
.MenuDescription{
  width: 280px;
    text-align: left;
}
.ItemName{
  color: #0C725E;
  text-align: left;
}
.MenuDetailsImage1{
  height: 200px;
  width: 350px;
  float: left;
  display: inline;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.menuheading{
  color: black;
  font-family: inherit;
  stretch: 100%;
  font-weight: 400;
  font-family: Verdana, Geneva, sans-serif;
  margin-left: 180px;
  position: relative;
  text-align: left;
}


.table-menu{
  width: 100%;
  border-spacing: 10px;
}

.menu-item-div{
  margin: 3% 10% 2% 10%;
  width:80%;
}

.table-menu th{
  border-bottom: 3px solid #0B6352;
  text-align: center;

}

.menu-table-header-row{
  min-height: 100px;
}

.menu-table-item-row{
  min-height: 100px;
  padding-left: 100px;
}
.menu-table-item-col{
  text-align: left;
  width: 35%;
}

.menu-home{
    padding: 20px 80px 50px 70px;
}
span {
  content: "\002B";
}
#page-numbers {
  list-style: none;
  display: flex;
  position: relative;
  color: #0B6352;
  cursor: pointer;
  font-size: 18px;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 400px;
}

#page-numbers > li {
  margin-right: 0.3em;
  margin-top: 0px;
  color: #0B6352;
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  text-decoration: underline;
  padding-right: 40px;

}
.btn-class {
  background-color: #0B6352;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 100px;
  margin-right: auto;
  width: 200px;
}
.adminbutton{
  position: relative;
  margin-left: 100px;
}
.update {
  margin-left: 180px;
}
.minus-button{
  color:black;
  background: #0D9582 none repeat scroll 0 0;
  border-color: #0D9582;
}
.deletespan{
  content: "\00D7";
  text-decoration: none;
  margin-right: -1000px;
  margin-left: 100px;
}
.updatespan{
  content: "\2141";
  text-decoration: none;
  color: #0D9582;
  margin-right: -50px;
}
span.addspan{
  padding-left: 10px;
  text-decoration: none;
  margin-right: -1400px;
  margin-left: 100px;
}
.add{
  width: 150px;
  margin-top: 40px;
  margin-left: 170px;
  font-weight: bold;
}
.update{
  width: 180px;
  margin-top: 40px;
  font-weight: bold;
}
.delete{
  width: 180px;
  margin-top: 40px;
  font-weight: bold;
}
.adminheading{
  margin-top: 0px;
  color: black;
  font-family: inherit;
  stretch: 100%;
  font-weight: 400;
  font-family: Verdana, Geneva, sans-serif;
  margin-left: 150px;
  position: relative;
  text-align: left;
}
.itemInputText {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.itemLabel{
  font-weight: bold;
}
.item_button {
  background-color: #0B6352;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 100px;
  margin-right: auto;
  width: 200px;
}
.calorie{
  padding-left: 50px;
  width: 1000px;
  margin-top: -100px;
}
.calorie1{
  margin-top: -100px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1000px;
}
.price{
  padding-left: 10px;
  margin-right: -30px;
  padding-top: 10px;

  width: 100%;
  float: right;
}
